@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  /* background-color: blue; */
  min-height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 12%;
  background-color: #f8f9fa;
  padding: 15px;

  svg {
    width: 18px;
    height: 18px;
  }

  header {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    column-gap: 10px;

    svg {
      stroke: #6c4ce8;
    }
  }

  h1 {
    font-size: 14px;
    font-weight: 600;
  }

  nav {
    display: flex;
    flex-direction: column;

    button {
      font-size: 13px;
      font-weight: 500;
      background-color: unset;
      border: none;
      text-align: left;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      column-gap: 10px;

      &:hover {
        cursor: pointer;
        color: #6c4ce8;

        svg {
          stroke: #6c4ce8;
        }
      }
    }

    .active-nav {
      color: #6c4ce8;

      svg {
        stroke: #6c4ce8;
      }
    }
  }
}

.view-card {
  padding: 15px 35px;
  width: 100%;
}

.projects {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;

  .projects-list {
    width: 100%;
    margin-top: 20px;
    border: #e7e8ec 1px solid;
    border-radius: 15px;

    .project-item {
      border-bottom: #e7e8ec 1px solid;
      padding: 15px;
      display: flex;
      column-gap: 15px;
      align-items: center;

      &:last-child {
        border: none;
      }

      .project-colour {
        width: 30px;
        height: 30px;
        background-color: red;
        border-radius: 5px;
      }

      .project-info {
        display: flex;
        flex-direction: column;
        row-gap: 5px;

        .project-name {
          font-size: 14px;
          font-weight: 500;
        }

        .project-description {
          color: #969ba3;
          font-size: 12px;
        }
      }

      .project-hours {
        margin-left: auto;

        span {
          font-size: 12px;
          color: #969ba3;
        }
      }

      .context-menu:hover {
        cursor: pointer;
      }
    }
  }
}

.btn {
  padding: 10px 15px;
  background-color: #6c4ce8;
  color: #fff;
  font-size: 13px;
  border-radius: 7px;
  border: 1px solid #6c4ce8;

  &:hover {
    cursor: pointer;
    background-color: #8971e7;
    border: 1px solid #8971e7;
    transition: 0.3s;
  }
}
